include /_includes/_extensions/_beacon.pug
include /_includes/_nav.pug

include /_mixins/_extensions/_integrations.pug
include /_mixins/_extensions/_googlemaps.pug

meta(charset='utf-8')
meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
meta(name="theme-color" content="#1fc2c2")
meta(name='mobile-web-app-capable' content='yes')
meta(name='apple-mobile-web-app-capable' content='yes')
meta(name='application-name' content='Teamplanbuch')
meta(name='apple-mobile-web-app-status-bar-style' content='black')
meta(name='apple-mobile-web-app-title' content='Teamplanbuch')
meta(name='msapplication-TileColor' content='#1b1b1c')
meta(name='theme-color' content='#1fc2c2')
meta(property='og:title' content='Teamplanbuch')
meta(property='og:type' content='website')
meta(property='og:url' content='https://www3.teamplanbuch.ch')

link(rel="icon" type="image/png" href="/assets/images/favicon-tpb.png")

doctype html
html(lang="de")
    head
        script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")

        script(src='/assets/javascript/interactive.js' type='text/javascript' async)
        script(src='/assets/javascript/nav.js' type='text/javascript' async)
        script(src='/assets/javascript/overlay.js' type='text/javascript' async)

        link(href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet")

        link(rel='stylesheet' href='/assets/stylesheets/artofgumb.css')
        title Der Online Spiel- und Trainingsplaner für Vereine, Clubs und Mannschaften · Teamplanbuch

    body
        +beacon('de')

        header.header__tpb
            .nav__wrapper
                nav.nav
                    a.nav__brand(href='#')
                        img.logo(src='/assets/images/tpb-maennli.png')
                    nav.nav__navigation.nav__navigation--de
                        a.nav__navigation__item.nav__navigation__item--dark.btn.btn--glass(href='#') Start
                        a.nav__navigation__item.nav__navigation__item--dark.btn.btn--glass(href='#') Abos und Preise
                        a.nav__navigation__item.nav__navigation__item--dark.btn.btn--glass(href='https://gumb.ch' target=_blank) Unternehmen
                        a.nav__navigation__item.nav__navigation__item--dark.btn.btn--glass.startChat Hilfe

                        a.nav__navigation__item.nav__navigation__item--dark.btn.btn--glass(href='https://www.facebook.com/teamplanbuch/' target='_blank')
                            ion-icon.icon--l-fs(name="logo-facebook")
                        
                        a.nav__navigation__item.nav__navigation__item--dark.btn.btn--glass Switch to English
                            ion-icon(name="ios-arrow-round-forward")
                        
                        //-select.nav__navigation__select.nav__navigation__item.select--dark#mobileNav
                            option(value='#' selected) Navigation
                            option(value='#') Home

                    nav.nav__buttons
                        a.nav__navigation__item.nav__navigation__item--cta.btn.btn--shadow.margin-right--16#login Login
                        a.nav__navigation__item.nav__navigation__item--cta.btn#try Kostenlos ausprobieren

        .overlay#loginOverlay
            .close
                ion-icon.dark(name="ios-close-circle-outline" size="large")

            form(action="https://www3.teamplanbuch.ch/spb/buch/login-register/dologin.php" method="post")
                .section__title.padding-bottom--64
                    h4 Login
                    p Schnell und sicher in Dein 
                        b.gradient Teamplanbuch
                        |  einloggen.
                br
                input(type="hidden" name="userLogin" value="")
                .floating
                    input#input__username.floating__input(name='username' type='text' placeholder='Deine E-Mail-Adresse' required)
                    label.floating__label(for='input__username' data-content='Deine E-Mail-Adresse')
                    span.hide
                        | Deine E-Mail-Adresse
                .floating
                    input#input__password.floating__input(type='password' name='passwort' placeholder='Dein Passwort' required)
                    label.floating__label(for='input__password' data-content='Dein Passwort')
                    span.hide Dein Passwort
                br
                .section__title
                    button.nav__navigation__item.nav__navigation__item--cta.btn 
                        ion-icon.padding-right(name="ios-lock")
                        | Einloggen
                    br
                    a(href='https://www.teamplanbuch.ch/passwort/' target='_blank') Passwort vergessen?

        .overlay#tryOverlay
            .close
                ion-icon.dark(name="ios-close-circle-outline" size="large")

            .section__title.padding-bottom--64
                h4 Probeabo starten
                p Teste das 
                    b.gradient Teamplanbuch
                    |   40 Tage lang völlig kostenlos und unverbindlich!
            .form.registerStep#register
                form(action="https://www3.teamplanbuch.ch/tools/mailing/doRegister.php" method="post")
                    input(type="hidden" name="userRegister" value="1")
                    .floating
                        input#input__email.floating__input(name='email' type='text' placeholder='Deine E-Mail-Adresse' required)
                        label.floating__label(for='input__email' data-content='Deine E-Mail-Adresse')
                        span.hide
                            | Deine E-Mail-Adresse
                    br
                    .section__title
                        button.nav__navigation__item.nav__navigation__item--cta.btn
                            | Los
                            ion-icon.padding-left(name="ios-arrow-round-forward" size="small")
            
            .form.registerStep#register2
                form(action="https://www3.teamplanbuch.ch/spb/buch/login-register/doConfirmNewBook.php" method="post")
                    input(type="hidden" name="clubregister" value="1")
                    .floating
                        input#input__clubname.floating__input(name='vereinsname' type='text' placeholder='Vereinsname' required)
                        label.floating__label(for='input__clubname' data-content='Vereinsname')
                        span.hide
                            | Vereinsname
                    br
                    .floating
                        select#input__clubcategory.floating__input(name='vereinsart' type='text' placeholder='Vereinsart' required)
                            option(value='Sonstiges' selected disabled) Vereinsart auswählen
                            option(value='Musik') Musik
                            option(value='Fussball') Fussball
                            option(value='Handball') Handball
                            option(value='Eishockey') Eishockey
                            option(value='American Football') American Football
                            option(value='Badminton') Badminton
                            option(value='Baseball') Baseball
                            option(value='Basketball') Basketball
                            option(value='Beachball') Beachball
                            option(value='Cricket') Cricket
                            option(value='Curling') Curling
                            option(value='Sonstiges') Sonstiges
                        label.floating__label(for='input__clubcategory' data-content='Vereinsart')
                        span.hide
                            | Vereinsart
                    br
                    .floating
                        select#input__clubcountry.floating__input(name='land' type='text' placeholder='Land wählen' required)
                            option(value='Schweiz' selected) Schweiz
                            option(value='Deutschland') Deutschland
                            option(value='Österreich') Österreich
                        label.floating__label(for='input__clubcountry' data-content='Land wählen')
                        span.hide
                            | Land wählen
                    br
                    br
                    p Trage als erste Person gleich Dich ein
                    br
                    .floating
                        input#input__surname.floating__input(name='vorname' type='text' placeholder='Vorname' required)
                        label.floating__label(for='input__surname' data-content='Vorname')
                        span.hide
                            | Vorname
                    br
                    .floating
                        input#input__name.floating__input(name='name' type='text' placeholder='Name' required)
                        label.floating__label(for='input__name' data-content='Name')
                        span.hide
                            | Name
                    br
                    .floating
                        input#input__clubpassword.floating__input(name='passwort1' type='password' placeholder='Dein Passwort' required)
                        label.floating__label(for='input__clubpassword' data-content='Dein Passwort')
                        span.hide
                            | Dein Passwort
                    br
                    .floating
                        input#input__reclubpassword.floating__input(name='passwort2' type='password' placeholder='Passwort wiederholen' required)
                        label.floating__label(for='input__reclubpassword' data-content='Passwort wiederholen')
                        span.hide
                            | Passwort wiederholen
                    br
                    .section__title
                        button.nav__navigation__item.nav__navigation__item--cta.btn 
                            | Teamplanbuch öffnen
                            ion-icon.padding-left(name="ios-arrow-round-forward" size="small")
            
        main#teamplanbuch
            section.margin-bottom--0
                .section__inner
                    .section__content.section__content--50.padding-right--64
                        .section__title.section__title--ltr
                            h3.gradient Teamplanbuch
                            h3 und Dein Team ist organisiert.
                            p Mit dem Online Spiel- und Trainingsplaner für Vereine, Clubs und Mannschaften organisierst du Dich und Dein Team einfach und schnell. Teamplanbuch ist unsere Terminverwaltungs-App und ist für all Deine Geräte verfügbar.
                            br
                            .form.registerStep#registerInline
                                form.flex.flex--items(action="https://www3.teamplanbuch.ch/tools/mailing/doRegister.php" method="post")
                                    input(type="hidden" name="userRegister" value="1")
                                    .floating
                                        input#input__inlineEmail.floating__input(name='email' type='text' placeholder='Deine E-Mail-Adresse' required autocomplete='off')
                                        label.floating__label(for='input__inlineEmail' data-content='Deine E-Mail-Adresse')
                                        span.hide
                                            | Deine E-Mail-Adresse
                                    button.nav__navigation__item.nav__navigation__item--cta.btn.margin-left--16#registerNext
                                        | 40 Tage Probeabo starten!
                                        ion-icon.padding-left(name="ios-arrow-round-forward" size="small")

                    .section__content.section__content--50.section__content--image
                        img(src='/assets/images/mockups/iphone-menu.png')
            
            +integrations(1)
            section
                .section__title
                    h6 iOS, Android &amp; im Web
                    h4 Teamplanbuch, 
                        br 
                        | auf all Deinen Geräten.
                    p Hol Dir die App und teste 40 Tage kostenlos.
                .flex.apps__wrapper
                    a(href='https://apps.apple.com/de/app/teamplanbuch2/id1198240785' target='_blank')
                        img.apps(src='/assets/vector/apps/de/ios.svg')
                    a(href='https://play.google.com/store/apps/details?id=com.teamplanbuch.app' target='_blank')
                        img.apps(src='/assets/vector/apps/de/droid.svg')
                    a(href='#')
                        img.apps(src='/assets/vector/apps/de/web.svg')
            
            section
                .appshowcase
                    .appshowcase__text
                        h4 Organisiere Vereins-Termine schnell und unkompliziert
                        p Das Teamplanbuch ermöglicht eine einfache An- und Abmeldung für Trainings, Spiele, Proben, Auftritte oder Sitzungen. Es erspart ewiges Hin-und-Her per E-Mail. Es vermeidet hektische Telefonate und Chats kurz vor anstehenden Terminen.
                    .appshowcase__img
                        img(src='/assets/images/mockups/iphone-overview.png')
            
            section
                .appshowcase.appshowcase--reverse
                    .appshowcase__img
                        img(src='/assets/images/mockups/iphone-menu.png')
                    .appshowcase__text
                        h4 Verschaffe Dir einen Überblick über Termine und Anwesenheit
                        p Leiter und Mitglieder können sich jederzeit mit Internet oder Handy über die Termine und die An-/Abmeldungen im Teamplanbuch informieren. Damit kann jedes Training und jede Probe zuverlässig geplant werden (Wer kommt? Wer übernimmt welche Aufgabe?).
                br
                br
                br
                .appshowcase
                    .appshowcase__text
                        h4 Analysiere Anwesenheit und unentschuldigtes Fernbleiben
                        p Die jährliche Anwesenheit, Termine und unentschuldigtes Fernbleiben können mit dem Teamplanbuch mühelos ausgewertet werden. Diese Statistiken erleichtern das Erstellen von Jahresberichten und Abrechnungen.
                    .appshowcase__img
                        img(src='/assets/images/mockups/surfacestudio-tpb.png')

            section.section__spacer
                .section__title
                    h4 Die Statistiken & Zahlen
                    p …die unsere Geschichte erzählen.
                .flex.flex--items.section__content.facts__wrapper
                    .flex.facts
                        h3 1680
                        h6 Vereine
                    .flex.facts
                        h3 30%
                        h6 mehr als eine Lizenz
                    .flex.facts
                        .flex
                            .gps__wrapper.flex
                                .gps
                                    .pulse
                                    .dot
                                h3.gradient#rtUsers -
                        h6 Gerade online
                    .flex.facts
                        h3 2299
                        h6 Bewertungen
                    .flex.facts
                        h3 1.352.428
                        h6 Anlässe & Termine
                .flex.timeline__wrapper
                    .flex.facts.facts--nomargin
                        h3 205.320
                        .timeline__item
                            .timeline__dot
                        h6 Registrierte Mitglieder
                    .timeline
                    .flex.facts.facts--nomargin
                        h3 106
                        .timeline__item
                            .timeline__dot
                        h6 in 👆🏼 Ländern
                    .timeline.timeline--mod
                    .flex.facts.facts--nomargin
                        h3 12.300
                        .timeline__item
                            .timeline__dot
                        h6 Senden sich täglich Über 👆🏼 Nachrichten
            
            section.section__spacer
                .section__title
                    h6 Jahreslizenzen
                    h4 Abos und Preise
                    p Für jede Gruppierung das passende dabei!
                .section__inner.pricing
                    .section__content.section__content--33
                        a(href='#')
                            .section__tube
                                h6 Probeabo
                                h4 Kostenlos
                                br
                                each feature in ['Alle Funktionen der Basislizenz', '40 Tage unverbindlich und ohne Einschränkungen testen', 'Die Apps für das iPhone und Android Smartphones stehen als kostenloser Download im AppStore und Google PlayStore zur Verfügung']
                                    .check
                                        ion-icon.padding-right--4(name="ios-checkmark")
                                        p= feature
                                br
                                .pricing__info
                                    p Du kannst das Teamplanbuch 40 Tage lang völlig kostenlos und unverbindlich testen. Wenn Du das Teamplanbuch weiter nutzen möchtest kannst Du jederzeit im Buch eine Lizenz bestellen.
                    .section__content.section__content--33
                        a(href='#')
                            .section__tube
                                h6 80 CHF / 65 € pro Jahr
                                h4 Basislizenz
                                br
                                each feature in ['1 Teamplanbuch', 'Kostenlose App für iPhone und Android', 'Integrierte E-Mail-Funktion vereinfacht und beschleunigt die Kommunikation im Team', 'Automatische Erinnerungsmail für einen bevorstehenden Termin', 'Einschreibefrist für Termine festlegbar', 'Pinnwand, um Infos zu posten', 'Passwortgeschützter Zugang + modernste Verschlüsselung', 'Eltern-und-Kind-Login möglich', 'Übersichtliche Spiel- & Trainingsplanung', 'Einbindung der Termine in Homepage des Vereins', 'Synchronisation mit persönlichem Kalender (Outlook, iCal , Google, etc.)', 'Spezialfunktionen für Vereine mit mehreren Teams', 'Über 100 weitere nützliche Funktionen']
                                    .check
                                        ion-icon.padding-right--4(name="ios-checkmark")
                                        p= feature
                                br
                                .pricing__info
                                    p Die Basislizenz ist ausreichend für die meisten Teams. Mit dieser Lizenz kannst Du Dein Team in bis zu 20 Gruppen unterteilen und bis zu 100 Personen verwalten.
                                    p Du kannst diese Lizenz jederzeit auf die Basislizenz Plus upgraden.
                    .section__content.section__content--33
                        a(href='#')
                            .section__tube
                                h6 Basislizenz Plus
                                h4 125CHF / 96€ p.a.
                                br
                                each feature in ['Alle Funktionen der Basislizenz', '2 Teamplanbücher', 'Zusätzlich einzelne Gruppen von Ereignissen ausschliessen. Dies ermöglicht Dir gemischte Teams in einem Buch zu verwalten sowie nur bestimmte Gruppen zu einem Ereignis aufzubieten']
                                    .check
                                        ion-icon.padding-right--4(name="ios-checkmark")
                                        p= feature
                                br
                                .pricing__info
                                    p Mit der Basislizenz Plus hast Du zusätzlicher zu einer zweiten Lizenz zudem noch weitere Funktionen.
                                    p Du kannst diese Lizenz jederzeit auf eine Vereinslizenz upgraden.

                .section__inner.pricing
                    .section__content.section__content--33.margin-top--0
                        a(href='#')
                            .section__tube
                                h6 165 CHF / 127 € pro Jahr
                                h4 3er Vereinslizenz
                                br
                                each feature in ['Alle Funktionen der Basislizenz Plus', '3 Teamplanbücher', 'Buchmatrix - Mit der Buchmatrix können alle Teammitglieder über alle Bücher hinweg schnell, übersichtlich und einfach verwaltet werden']
                                    .check
                                        ion-icon.padding-right--4(name="ios-checkmark")
                                        p= feature
                                br
                                .pricing__info
                                    p Du kannst diese Lizenz jederzeit von 3 Teamplanbücher (Lizenzen) auf 5 upgraden.
                                    p Die Vereinslizenz kombiniert alle verfügbaren Funktionen mit einem anpassbaren und progressiv günstiger werdenden Abonnement.
                    .section__content.section__content--33.margin-top--0
                        a(href='#')
                            .section__tube
                                h6 215 CHF / 165 € pro Jahr
                                h4 5er Vereinslizenz
                                br
                                each feature in ['Alle Funktionen der Basislizenz Plus', '5 Teamplanbücher', 'Buchmatrix - Mit der Buchmatrix können alle Teammitglieder über alle Bücher hinweg schnell, übersichtlich und einfach verwaltet werden']
                                    .check
                                        ion-icon.padding-right--4(name="ios-checkmark")
                                        p= feature
                                br
                                .pricing__info
                                    p Du kannst diese Lizenz jederzeit von 5 Teamplanbücher (Lizenzen) auf 10 upgraden.
                    .section__content.section__content--33.margin-top--0
                        a(href='#')
                            .section__tube
                                h6 250 CHF / 192 € pro Jahr
                                h4 10er Vereinslizenz
                                br
                                each feature in ['Alle Funktionen der Basislizenz Plus', '10 Teamplanbücher', 'Buchmatrix - Mit der Buchmatrix können alle Teammitglieder über alle Bücher hinweg schnell, übersichtlich und einfach verwaltet werden', 'Individuelle Erweiterbarkeit der Lizenzen über 10 hinaus für 20 CHF / 16 € ']
                                    .check
                                        ion-icon.padding-right--4(name="ios-checkmark")
                                        p= feature
                                br
                                .pricing__info
                                    p Die Lizenz lässt sich via unserem Support beliebig nach oben hin anpassen.

                .section__title
                    a.nav__navigation__item.nav__navigation__item--dark.nav__navigation__item--cta.btn.btn--shadow.margin-top--16.startChat Jetzt 40 Tage kostenlos ausprobieren
                    p Transparente Kosten durch einen fixen Pauschalpreis und kulanter Abo-Service. Keine Bezahldaten nötig.

        include /_includes/_endofbody.pug

    footer
        .contact.contact--bright
            .contact__nav.contact__nav--bright
                a.contact__navItem.contact__navItem--active Kontakt
            .contact__inner
                div
                    b.padding-bottom.nebula Adresse
                    p Büsingerstrasse 5
                    p 8203 Schaffhausen
                    p Schweiz
                div
                    b.padding-bottom.nebula E-Mail
                    p
                        a(href='mailto:info@gumb.ch') info@gumb.ch
                div
                    b.padding-bottom.nebula Phone
                    p
                        a(href='tel:+41445867002') +41 44 586 70 02
                div
                    b.padding-bottom.nebula Kontaktiere uns direkt
                    a.nav__navigation__item.nav__navigation__item--dark.nav__navigation__item--cta.btn.btn--shadow.startChat Chatte mit uns!

        +map('dark')

        .footer.footer--bright
            .footer__inner
                div
                    a.nav__brand.padding-bottom(href='/')
                        img.logo.padding-bottom(src='/assets/vector/gumb.svg')
                    p.footer__meta Alle Rechte vorbehalten.
                    p.footer__meta © Gumb AG
                div
                    b.padding-bottom.nebula Navigation
                    p
                        a(href='/') Start
                    p
                        a(href='/about.html') Apps
                    p
                        a(href='/mission-vision.html') Preise
                    p
                        a(href='/community.html') Statistiken
                div
                    b.padding-bottom.nebula Über Gumb
                    p
                        a(href='/about.html#team') Unser Team
                    p
                        a(href='/mission-vision.html') Mission & Vision
                    p
                        a(href='/about.html#milestones') Unsere Geschichte
                div
                    b.padding-bottom.nebula Kontakt & Feedback
                    p
                        a(href='/community.html#social') Soziale Kanäle
                    p
                        a.startChat Schreibe uns
                    p
                        a(href='https://www.google.com/maps/place/Gumb+AG/@47.6968533,8.6567239,17z/data=!3m1!4b1!4m5!3m4!1s0x479a81c3d5deaaab:0xfc528db9ac381fa6!8m2!3d47.6968533!4d8.6589126' target='_blank') Besuche uns in Schaffhausen, CH
            .footer__social
                a.padding-right(href='https://www.facebook.com/gumbapp/' target='_blank') 
                    ion-icon(name="logo-facebook")
                a.padding-right(href='https://www.linkedin.com/company/gumb/' target='_blank') 
                    ion-icon(name="logo-linkedin")
                a.padding-right(href='https://twitter.com/GumbApp' target='_blank') 
                    ion-icon(name="logo-twitter")
                a.padding-right(href='https://www.xing.com/companies/gumbag' target='_blank')
                    ion-icon(name="logo-xing")
                a.padding-right(href='https://www.instagram.com/gumbapp/' target='_blank') 
                    ion-icon(name="logo-instagram")
                .wall.wall--bright.margin-right
                a.padding-right(href='https://github.com/jonathanarbely/gumbag' target='_blank') 
                    ion-icon(name="logo-github")

            .footer__legal
                a.footer__meta(href="/impressum.html") Impressum & Datenschutz