mixin pricing(lang)
    if lang == 'de'
        div#preise
        section.section__spacer
            .section__title
                h6 Jahreslizenzen
                h4 Abos und Preise
                p Für jede Gruppierung das passende dabei!
            
            .toggle
                p.toggle__item.toggle__item--active#chf CHF
                p.toggle__item#eur €

            .section__inner.pricing
                .section__content.section__content--33
                    a(href='#')
                        .section__tube
                            h6 Probeabo
                            h3 Kostenlos
                            br
                            each feature in ['Alle Funktionen der Basislizenz', '40 Tage unverbindlich und ohne Einschränkungen testen', 'Die Apps für das iPhone und Android Smartphones stehen als kostenloser Download im AppStore und Google PlayStore zur Verfügung']
                                .check
                                    ion-icon.padding-right--4(name="ios-checkmark")
                                    p= feature
                            br
                            .pricing__info
                                p Du kannst das Teamplanbuch 40 Tage lang völlig kostenlos und unverbindlich testen. Wenn Du das Teamplanbuch weiter nutzen möchtest kannst Du jederzeit im Buch eine Lizenz bestellen.
                .section__content.section__content--33
                    a(href='#')
                        .section__tube
                            h6 Basislizenz
                            h3
                                sup CHF
                                span.chf 80
                                span.eur 65
                                span.sub pro Jahr
                            br
                            each feature in ['1 Teamplanbuch', 'Kostenlose App für iPhone und Android', 'Integrierte E-Mail-Funktion vereinfacht und beschleunigt die Kommunikation im Team', 'Automatische Erinnerungsmail für einen bevorstehenden Termin', 'Einschreibefrist für Termine festlegbar', 'Pinnwand, um Infos zu posten', 'Passwortgeschützter Zugang + modernste Verschlüsselung', 'Eltern-und-Kind-Login möglich', 'Übersichtliche Spiel- & Trainingsplanung', 'Einbindung der Termine in Homepage des Vereins', 'Synchronisation mit persönlichem Kalender (Outlook, iCal , Google, etc.)', 'Spezialfunktionen für Vereine mit mehreren Teams', 'Über 100 weitere nützliche Funktionen']
                                .check
                                    ion-icon.padding-right--4(name="ios-checkmark")
                                    p= feature
                            br
                            .pricing__info
                                p Die Basislizenz ist ausreichend für die meisten Teams. Mit dieser Lizenz kannst Du Dein Team in bis zu 20 Gruppen unterteilen und bis zu 100 Personen verwalten.
                                p Du kannst diese Lizenz jederzeit auf die Basislizenz Plus upgraden.
                .section__content.section__content--33
                    a(href='#')
                        .section__tube
                            h6 Basislizenz Plus
                            h3
                                sup CHF
                                span.chf 125
                                span.eur 96
                                span.sub pro Jahr
                            br
                            each feature in ['Alle Funktionen der Basislizenz', '2 Teamplanbücher', 'Zusätzlich einzelne Gruppen von Ereignissen ausschliessen. Dies ermöglicht Dir gemischte Teams in einem Buch zu verwalten sowie nur bestimmte Gruppen zu einem Ereignis aufzubieten']
                                .check
                                    ion-icon.padding-right--4(name="ios-checkmark")
                                    p= feature
                            br
                            .pricing__info
                                p Mit der Basislizenz Plus hast Du zusätzlicher zu einer zweiten Lizenz zudem noch weitere Funktionen.
                                p Du kannst diese Lizenz jederzeit auf eine Vereinslizenz upgraden.

            .section__inner.pricing
                .section__content.section__content--33.margin-top--0
                    a(href='#')
                        .section__tube
                            h6 3er Vereinslizenz
                            h3
                                sup CHF
                                span.chf 165
                                span.eur 127
                                span.sub pro Jahr
                            br
                            each feature in ['Alle Funktionen der Basislizenz Plus', '3 Teamplanbücher', 'Buchmatrix - Mit der Buchmatrix können alle Teammitglieder über alle Bücher hinweg schnell, übersichtlich und einfach verwaltet werden']
                                .check
                                    ion-icon.padding-right--4(name="ios-checkmark")
                                    p= feature
                            br
                            .pricing__info
                                p Du kannst diese Lizenz jederzeit von 3 Teamplanbücher (Lizenzen) auf 5 upgraden.
                                p Die Vereinslizenz kombiniert alle verfügbaren Funktionen mit einem anpassbaren und progressiv günstiger werdenden Abonnement.
                .section__content.section__content--33.margin-top--0
                    a(href='#')
                        .section__tube
                            h6 5er Vereinslizenz
                            h3
                                sup CHF
                                span.chf 215
                                span.eur 165
                                span.sub pro Jahr
                            br
                            each feature in ['Alle Funktionen der Basislizenz Plus', '5 Teamplanbücher', 'Buchmatrix - Mit der Buchmatrix können alle Teammitglieder über alle Bücher hinweg schnell, übersichtlich und einfach verwaltet werden']
                                .check
                                    ion-icon.padding-right--4(name="ios-checkmark")
                                    p= feature
                            br
                            .pricing__info
                                p Du kannst diese Lizenz jederzeit von 5 Teamplanbücher (Lizenzen) auf 10 upgraden.
                .section__content.section__content--33.margin-top--0
                    a(href='#')
                        .section__tube
                            h6 10er Vereinslizenz
                            h3
                                sup CHF
                                span.chf 250
                                span.eur 192
                                span.sub pro Jahr
                            br
                            each feature in ['Alle Funktionen der Basislizenz Plus', '10 Teamplanbücher', 'Buchmatrix - Mit der Buchmatrix können alle Teammitglieder über alle Bücher hinweg schnell, übersichtlich und einfach verwaltet werden', 'Individuelle Erweiterbarkeit der Lizenzen über 10 hinaus für 20 CHF / 16 € ']
                                .check
                                    ion-icon.padding-right--4(name="ios-checkmark")
                                    p= feature
                            br
                            .pricing__info
                                p Die Lizenz lässt sich via unserem Support beliebig nach oben hin anpassen.

            .section__title.margin-top--55
                a.nav__navigation__item.nav__navigation__item--cta.btn.try Jetzt 40 Tage kostenlos ausprobieren
                p Transparente Kosten durch einen fixen Pauschalpreis und kulanter Abo-Service. Keine Bezahldaten nötig.
    else
        div#pricing
        section.section__spacer
            .section__title
                h6 Annual licenses
                h4 Subscriptions and prices
                p The right plan for every group!
            
            .toggle
                p.toggle__item.toggle__item--active#chf CHF
                p.toggle__item#eur €

            .section__inner.pricing
                .section__content.section__content--33
                    a(href='#')
                        .section__tube
                            h6 Trial
                            h3 Free
                            br
                            each feature in ['All functions of the basic license', 'Test for 40 days without any obligation and without restrictions', 'Apps for your iPhone or Android devices are available as free downloads in the Apple AppStore and Google PlayStore']
                                .check
                                    ion-icon.padding-right--4(name="ios-checkmark")
                                    p= feature
                            br
                            .pricing__info
                                p You can test the Teamplanbuch for 40 days completely free of charge and without obligation. If you want to continue using the Teamplanbuch, you can order a license at any time in the book.
                .section__content.section__content--33
                    a(href='#')
                        .section__tube
                            h6 Basic Licence
                            h3
                                sup CHF
                                span.chf 80
                                span.eur 65
                                span.sub per Year
                            br
                            each feature in ['1 Teamplanbuch', 'Free app for iPhone and Android', 'Integrated e-mail function simplifies and speeds up communication in your team', 'Automatic reminder-e-mail for upcoming appointments', 'Registration deadline for appointments', 'Bulletin board to post information', 'Password-protected access & state-of-the-art encryption', 'Parent and child login-option', 'Clear game and training planning', "Integration of dates in the club's homepage", 'Synchronization with personal calendar (Outlook, iCal, Google, etc.)', 'Special functions for clubs with multiple teams', 'Over 100 other useful functions']
                                .check
                                    ion-icon.padding-right--4(name="ios-checkmark")
                                    p= feature
                            br
                            .pricing__info
                                p The basic license is sufficient for most teams. With this license you can divide your team into up to 20 groups and manage up to 100 people.
                                p You can upgrade this license to the "Basic License Plus" at any time.
                .section__content.section__content--33
                    a(href='#')
                        .section__tube
                            h6 Basic License Plus
                            h3
                                sup CHF
                                span.chf 125
                                span.eur 96
                                span.sub per Year
                            br
                            each feature in ['Alle Funktionen der Basislizenz', '2 Teamplanbücher', 'Zusätzlich einzelne Gruppen von Ereignissen ausschliessen. Dies ermöglicht Dir gemischte Teams in einem Buch zu verwalten sowie nur bestimmte Gruppen zu einem Ereignis aufzubieten']
                                .check
                                    ion-icon.padding-right--4(name="ios-checkmark")
                                    p= feature
                            br
                            .pricing__info
                                p With the "Basic License Plus" you have additional functions in addition to a second license.
                                p You can upgrade this license to a "Club License" at any time.

            .section__inner.pricing
                .section__content.section__content--33.margin-top--0
                    a(href='#')
                        .section__tube
                            h6 3 Club Licenses
                            h3
                                sup CHF
                                span.chf 165
                                span.eur 127
                                span.sub per Year
                            br
                            each feature in ['All functions of the "Basic License Plus"', '3 Teamplanbuch Licences', 'Book matrix - With the book matrix, all team members across all books can be managed quickly, clearly and easily']
                                .check
                                    ion-icon.padding-right--4(name="ios-checkmark")
                                    p= feature
                            br
                            .pricing__info
                                p You can upgrade this license from 3 licenses to 5 at any time.
                                p The "Club License" combines all available functions with a customizable and progressively cheaper subscription model.
                .section__content.section__content--33.margin-top--0
                    a(href='#')
                        .section__tube
                            h6 5 Club Licenses
                            h3
                                sup CHF
                                span.chf 215
                                span.eur 165
                                span.sub per Year
                            br
                            each feature in ['All functions of the "Basic License Plus"', '5 Teamplanbuch Licences', 'Book matrix - With the book matrix, all team members across all books can be managed quickly, clearly and easily']
                                .check
                                    ion-icon.padding-right--4(name="ios-checkmark")
                                    p= feature
                            br
                            .pricing__info
                                p You can upgrade this license from 5 licenses to 10 at any time.
                .section__content.section__content--33.margin-top--0
                    a(href='#')
                        .section__tube
                            h6 10 Club Licenses
                            h3
                                sup CHF
                                span.chf 250
                                span.eur 192
                                span.sub per Year
                            br
                            each feature in ['All functions of the "Basic License Plus"', '10 Teamplanbuch Licences', 'Book matrix - With the book matrix, all team members across all books can be managed quickly, clearly and easily', 'Individual license-expandability for large clubs above 10 licenses for 20 CHF / 16 € each']
                                .check
                                    ion-icon.padding-right--4(name="ios-checkmark")
                                    p= feature
                            br
                            .pricing__info
                                p The license can be adjusted upwards via our support.

            .section__title.margin-top--55
                a.nav__navigation__item.nav__navigation__item--cta.btn.try Try it now free for 40 days
                p Transparent costs thanks to a fixed flat rate and great subscription support-service. No payment data required.